<nav class="navigation header-nav">
    <ul>
        <li><a href="{{ site.url }}">Home</a></li>
        {% for page in site.pages %}
        {% if page.navi %}
        <li>
            <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
    <div class="icons">
        <a class="icon-a" href="https://www.github.com/breezyfasano"><span class="fas fa-github"></a></span>
        <a class="icon-a" href="https://www.codepen.io/breezyfasano"><span class="fas fa-codepen"></span></>
        <a class="icon-a" href="https://www.linkedin.com/breezyfasano"><span class="fas fa-linkedin"></span></a>
    </div>
</nav>