.footer {
    width: 100vw;
    height: 20vh;
    text-align: right;
    background-color: #424242;
    font-size: 3vw;
    padding: 3vw;
    margin-top: 5vh;
    span {
        color: white;
        line-height: 4vh;
    }
}