.intro-container {
    background: $basegray;
    min-height: 48vh;
    border: 25px solid white;
    padding: 4vw;
}

.myname {
    font-family: $headerfont;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $mint;
    font-size: 7vw;
    line-height: 10.5vw;
}

.intro-desc p {
    font-family: $basefont;
    color: #fff;
    line-height: 1.7rem;
    text-align: justify;
    letter-spacing: 1px;
    padding-top: 2vh;
}