.page-header { // also class used for post titles
    font-family: $headerfont;
    font-size: 4vw;
    color: $electricpurp;
    display: inline-block;
    margin: 0 0 5vw 0vw;
    
    &:after {
        background: $mint;
        min-width: 100%;
        display: block;
        content: ' ';
        padding-top: 1vw;
        margin-top: 1vw;
    }
}


.page-header--spacing {
    margin: 0 0 5vh 0vw; 

}