.page-header { // also class used for post titles
    font-family: $headerfont;
    font-size: 6vw;
    color: $electricpurp;
    display: inline-block;
    line-height: 8vw;
    
    &:after {
        background: $mint;
        min-width: 100%;
        min-height: 4px;
        display: block;
        content: ' ';
        padding-top: 1vw;
        margin-top: 1vw;
    }
}