body:not(a) {
    font-family: $basefont;
    line-height: 2rem;
    color: $basegray;
}


.posts-container {
    padding: 0 5vw;
    font-family: $basefont;
    min-height: calc(100vh - 20vh); // sticky footer
    margin: 5vw 5vw 0 5vw;
}

.post {
    padding-top: 3%;

}

.home-post-content {
    display: block;
    margin-bottom: -10px;

    p {
        line-height: 2rem;
    }
}

.tags {
    font-family: $headerfont;
    margin: 0 0 0 10px;
    display: inline;
    background-color: $mint;
    padding: 5px;
    border-radius: 5%;
    font-size: .8rem;
    color: $basegray;
    font-weight: bold;
}



.home-post-title,
.post-date {
    display: inline;
    font-family: $headerfont;
    line-height: 7vh;
    font-size: 1rem;
}

.post-date {
    letter-spacing: 1px;
    padding-left: 15px;
    color: $basegray;
}

a {
    color: $electricpurp;

    &:hover {
        border-bottom: 5px solid $electricpurp;
        transition: 0.2s;
    }
}

.icon-a {

    &:hover {
        border-bottom: 0px solid transparent;
        transition: .2s;
        color: transparent !important;
    }
}

.posts-container {
    max-width: 1500px;
}


.post-date__post {
    padding: 0;
    font-size: 5vw;
}

.post-content {
    display: block;
    margin-bottom:4.5vh;
    line-height: 3rem;
    
    ul {
        list-style-type: circle;
    }
    ol {
        list-style-type: decimal;
    }

    ul, ol {
        list-style-position: inside;
    }

    p {
        line-height: 1.5rem; //main line height for post body
        margin-top: 1vw;
        font-size: 1rem;
        text-align: justify;
    }
    blockquote {
        font-size: 1.2em;
        font-family: $basefont;
        color: $basegray;
        background: $lightgray;
        padding: 25px 0 25px 15px;
        margin: 50px 0 50px 15px;
        border-radius: 3px;
        border-left: 6px solid $electricpurp;
    }

    h1 {
        font-size: 2.4rem;

    }

    h2 {
        font-size:1.5rem;
        color: $electricpurp;
        margin: 7vw 0 0 0;
    }

    h3 {
        display: inline-block;
        line-height: 2rem;
        margin: 8vw 0 0 0;
        text-decoration: underline;
    }


    img {
        margin: 50px auto 50px auto;
        display: block;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
        max-width: 50vw;
    }
}

hr {
    display: block;
    margin-top: 6vh;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
