body:not(a) {
    font-family: $basefont;
    line-height: 2rem;
    width: 100vw;
}

.posts-container {
    max-width: 1500px;
}

.post-date__post {
    padding: 0;
    font-size: 5vw;
}

.post-content {
    display: block;
    margin-bottom:4.5vh;
    line-height: 3rem;
    
    ul {
        list-style-type: circle;
    }
    ol {
        list-style-type: decimal;
    }

    ul, ol {
        list-style-position: inside;
    }

    p {
        line-height: 1.9rem; //main line height for post body
        margin-top: 20px;
        font-size: 1rem;
        text-align: justify;
    }
    blockquote {
        font-size: 1.2em;
        font-family: $basefont;
        color: $basegray;
        background: $lightgray;
        padding: 25px 0 25px 15px;
        margin: 50px 0 50px 15px;
        border-radius: 3px;
        border-left: 6px solid $electricpurp;
    }

    h1 {
        font-size: 2.4rem;
    }

    h2 {
        font-size:1.7rem;
        color: $electricpurp;
    }

    h1, h2, h3 {
        margin: 1.5rem 0 1.2rem 0;
    }
}

hr {
    display: block;
    margin-top: 6vh;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
