{% include head.html %}

<div class="intro-container">
    <nav class="home-nav navigation">
        <ul>
            <li id="close-icon-li"><a href="javascript:void(0)" style="font-size: 30px; display: block; margin: 20px 0 5px 0" id="close-icon">X</a></li>
            {% for page in site.pages %}
            {% if page.navi %}
            <li>
                <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
<div class="icons">
<a class="icon-a" href="https://www.github.com/breezyfasano"><span class="fas fa-github"></span></a>
<a class="icon-a" href="https://www.codepen.io/breezyfasano"><span class="fas fa-codepen"></span></a>
<a class="icon-a" href="https://www.linkedin.com/in/breezyfasano"><span class="fas fa-linkedin"></span></a>
</div>
    </nav>
    <a href="javascript:void(0)" style="font-size: 30px; font-family: fontawesome; color: #fff;" class="fas fa-bars" id="open-icon"></a>
    <h1 class="myname">breezy fasano<br> web design &amp; development</h1>
    <span class="intro-desc"> {{ content }} </span>
</div>

<div class="posts-container">

{% for post in site.posts %}
<div class="post">
    <h1 class="home-post-title">
        <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}</a>
    </h1>

    <span class="post-date">{{ post.date | date: '%m.%-d.%Y' }}</span><br>
    <span class="home-post-content"> {{ post.content }}</span>
    <br>
     {% for tag in post.tags %}
    <a class="tags" href="/tags/{{ tag }}/">{{ tag }}</a>
    {% endfor %}
</div>
<hr>
{% endfor %}

</div>

{% include footer.html %}